@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../Fonts/webfonts/Vazirmatn-RD-FD-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: VazirMatn;
  src: url("../fonts/webfonts/Vazirmatn-RD-FD-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: magneto;
  src: url("../fonts/webfonts/MAGNETOB.woff") format("woff");
}
@font-face {
  font-family: Akronim;
  src: url("../fonts/webfonts/Akronim-Regular.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: VazirMatn;
  overflow: hidden;
}

body {
  direction: rtl;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../img/wallpapers.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  transition: height 500ms ease;
}
.container .search-box {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}
.container .search-box .bxs-map {
  position: absolute;
  right: 10px;
  font-size: 28px;
}
.container .search-box .city-name {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  padding: 0 48px 0 42px;
}
.container .search-box .city-name::placeholder {
  color: #fff;
}
.container .search-box .bx-search {
  position: absolute;
  left: 0;
  width: 40px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 28px;
  color: #fff;
  padding: 0 5px 0 40px;
  cursor: pointer;
}
.container .city-hide {
  display: none;
  margin-top: 5px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 400;
}
.container .weather-box {
  text-align: center;
  margin: 0;
  visibility: hidden;
}
.container .weather-box .box {
  transform: translateY(-100%);
}
.container .weather-box .box img {
  width: 60%;
}
.container .weather-box .box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 800;
  direction: ltr;
  margin: 20px 0 6px 10px;
}
.container .weather-box .box .temperature span {
  position: absolute;
  font-size: 24px;
  margin-left: 6px;
  font-weight: 400;
}
.container .weather-box .box .description {
  font-size: 22px;
  font-weight: 600;
}
.container .weather-box.active {
  visibility: visible;
}
.container .weather-box.active .box {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 0.5s;
}
.container .weather-details {
  position: absolute;
  bottom: 15px;
  right: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  visibility: hidden;
}
.container .weather-details .humidity, .container .weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%);
}
.container .weather-details .humidity i, .container .weather-details .wind i {
  font-size: 56px;
  margin-left: 10px;
}
.container .weather-details .humidity span, .container .weather-details .wind span {
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}
.container .weather-details .humidity p, .container .weather-details .wind p {
  font-size: 14px;
  font-weight: 500;
}
.container .weather-details .humidity {
  padding-right: 20px;
  justify-content: flex-start;
}
.container .weather-details .wind {
  padding-left: 20px;
  justify-content: flex-end;
}
.container .weather-details.active {
  visibility: visible;
}
.container .weather-details.active .humidity, .container .weather-details.active .wind {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
}
.container .not-found {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin-top: 110px;
  visibility: hidden;
}
.container .not-found .box {
  transform: translateY(-100%);
}
.container .not-found .box img {
  width: 65%;
}
.container .not-found .box p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
.container .not-found.active {
  visibility: visible;
}
.container .not-found.active .box {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 0.5s;
}

/*# sourceMappingURL=style.css.map */
